@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap')
layer(base);

@import 'tailwindcss';

@config "../tailwind.config.js";
@plugin "flowbite/plugin";

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
